.navbarLinks {
  display: flex;
}

.navbarLink:hover {
  color: black;
  transition: all 30ms ease-in-out;
  border-top: 8px solid var(--blue-color);
  padding-top: 21px;
}

.logo {
  text-transform: uppercase;
}

.logoStart {
  font-size: 65px;
}

.logoEnd {
  font-size: 43px;
}
