:root {
  --pink-color: #cd216f;
  --orange-color: #faa907;
  --green-color: #95b826;
  --blue-color: #2bb2ae;
  --grey-color: #9b9b9b;
  --light-grey-color: #f3f3f3;
}

body {
  margin: 0px;
  padding: 0px;
}
