.dogbreedSearchForm {
  text-align: center;
  padding: 50px;
  width: auto;
}

.dogbreedSearchField {
  font-size: 30px;
  padding: 10px;
  width: 520px;
  border-radius: 20px;
  border-color: lightgrey;
}

.dogbreedSearchSubmitButton {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;

  background-color: var(--second-color);
  color: white;
  border: 1px solid lightgray;
  border-radius: 20px;

  font-weight: bold;
}

.dogbreedSearchSubmitButton:active {
  transform: scale(0.94);
}

.dogbreedPageBody {
  background-image: linear-gradient(
      100deg,
      rgba(244, 188, 56, 0.615),
      rgba(0, 0, 0, 0.076)
    ),
    url("/src/images/Paw\ Print\ background.jpg");
  background-size: cover;
}
