.hero {
  background-image: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0.615),
      rgba(0, 0, 0, 0.076)
    ),
    url("/src/images/hero-dog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  max-height: 554px;

  display: flex;
}

.hero-textbox {
  text-align: left;
  padding: 59px 50px 120px 50px;
}

.hero button {
  padding: 18px 45px;
  background-color: var(--orange-color);
  color: white;
  border: 1px solid lightgray;
  margin: 30px auto;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

.hero button:hover {
  cursor: pointer;
}

.hero button:active {
  transform: scale(0.94);
}

.hero p {
  border-left: 2px solid white;
  padding-left: 20px;
  font-size: 22px;
  line-height: 1.5;
}

.hero h1 {
  font-size: 92px;
  margin-bottom: 69px;
}

.main h2 {
  font-size: 45px;
}

.main {
  padding: 20px 20px 20px 20px;
}

.navigateToDogbreeds {
  display: block;
  margin: 20px auto;
  padding: 18px 45px;
  background-color: var(--orange-color);
  color: white;
  border: 1px solid lightgray;
  margin: 30px auto;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

.navigateToDogbreeds:active {
  transform: scale(0.94);
}

.main button:hover {
  cursor: pointer;
}

.main {
  text-align: center;
}

.main p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 21px;
}

@media (max-width: 1000px) {
  .hero {
    max-height: 600px;
  }

  .main {
    padding: 30px 30px 20px 30px;
  }
  .hero h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }

  .hero p {
    font-size: 15px;
  }

  .main p {
    font-size: 15px;
  }
  .hero button {
    padding: 15px 30px;
    font-size: 16px;
  }

  .main button {
    padding: 15px 30px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 20px;
  }

  .main {
    padding: 30px 30px 20px 30px;
  }

  .hero p {
    font-size: 13px;
  }

  .main p {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .hero-textbox {
    margin: 0 auto;
    padding: 60px 50px;
  }

  .hero button {
    padding: 10px 26px;
    font-size: 14px;
  }

  .main button {
    padding: 10px 26px;
    font-size: 14px;
  }
}
