.introductionText {
  font-size: 25px;
  line-height: 1.5;
  display: flex;
  width: auto;

  padding: 30px;
  margin: 0 auto;

  position: absolute;
  top: 10%;

  opacity: 0;
  background-color: rgba(255, 255, 255, 0.78);
}

.introductionText:hover {
  opacity: 100%;
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
