.dogImage {
  display: flex;
  max-width: 600px;
  min-width: 600px;

  margin: 0 auto;
  padding: 30px 50px 30px 50px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.dogSearchSubmitButton {
  display: block;
  padding: 18px 45px;
  font-size: 400px;
  border: 0;
  background-color: rgba(0, 0, 0, 0%);

  margin: 50px auto;

  margin-bottom: 50px;
  border-radius: 20px;
}

.dogSearchSubmitButton:hover {
  cursor: pointer;
}

.dogSearchSubmitButton:active {
  transform: scale(0.94);
}

.dogSearchButtonName {
  font-size: 50px;
  color: var(--light-grey-color);
  text-transform: uppercase;
  font-weight: 750;
}

.profileCard {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  border: 4px solid var(--light-grey-color);
  padding-bottom: 150px;
  margin-top: 100px;
}

.hide {
  display: none;
}

.pupsPageBody {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--blue-color) 0%,
    var(--blue-color) 40%,
    white 40%,
    white 100%
  );
}
