.dogImage {
  display: flex;
  max-width: 600px;
  min-width: 600px;

  margin: 0 auto;
  padding: 30px 50px 30px 50px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.dogSearchSubmitButton {
  display: block;
  padding: 18px 45px;
  background-color: var(--second-color);
  color: white;
  border: 1px solid lightgray;
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
  border-radius: 20px;
}

.dogSearchSubmitButton:hover {
  cursor: pointer;
}

.dogSearchSubmitButton:active {
  transform: scale(0.94);
}

.profileCard {
  margin: 0 auto;
  max-width: 600px;
  border: 1px solid grey;
  border-radius: 15px;
  padding-bottom: 150px;
}
